@charset "utf-8";

/**
* 功能：用户注册样式设置
**/


/*********************************/


/* 初始化设置 */


/*********************************/

body,
html {
    margin: 0;
    padding: 0;
    color: #333;
    font: 16px "微软雅黑";
}

input,
select,
button {
    font: 0.9em "微软雅黑";
}

body {
    padding-top: 50px;
    padding-bottom: 120px;
}


/*********************************/


/* 详细设置 */


/*********************************/

form {
    width: 310px;
    margin: 0 auto;
}

form>div {
    padding: 20px 15px 0;
    position: relative;
}

form>div>label:first-of-type {
    display: inline-block;
    width: 100px;
}

form>div>p {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 120px;
    top: 0;
    font-size: 14px;
    color: red;
}

form>div>span {
    color: red;
}

.buttonGroup {
    text-align: center;
}

.buttonGroup button {
    border: none;
    padding: 5px 15px;
    background: #grey;
    color: #333;
}
