@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url('../images/bg.png')
}
ul,a{
	list-style: none;
	text-decoration: none;
	color: black;
}
.top{
	min-width: 940px;
	background-color: black;

}
.top-content{
	width: 920px;
	margin: 0 auto;
	position: relative;
	min-width: 920px;
}
.top-content-left{
  position: absolute;
}
.top-content-left img{
	width: 120px;
	height: 130px;
}
.top-content-right{
	font-size: 16px;
	color: white;
	line-height: 240%;
	font-weight: bold;
}
.top-content-right span{
	color: #1E8B57;
}
nav{
	width: 920px;
	min-width: 920px;
	margin: 0 auto;
}

nav li{
	display: inline-block;
	width: 100px;
	height: 70px;
	float: right;
	line-height: 70px;

}
.header-image{
	height: 200px;
	overflow: hidden;
}
article h1{
	font-size: 40px;
	text-align: center;
	line-height: 300%;
	min-width: 940px;
	color: #2E8B57;
}
.show{
	width: 940px;
	margin: 0 auto;
}
.show li{
	float: left;
	margin: 15px;
}
.header-image{
	min-width: 940px;
}
footer{
	background-color:#333333;
	min-width: 940px;
}
footer section{
	width: 920px;
	margin: 0 auto;
	padding-top: 40px;
}
footer section article{
	float: left;
	width: 230px;
}
footer h2{
	font-size: 30px;
	color: white;
	margin: 10px;
}
footer li{
	margin: 5px 5px 5px 10px;
}
footer li a{
	color: #777777;
}
footer p{
	
	color: #777777;
	text-align: center;
	line-height: 340%;
	clear: both;
}

footer .mail input[type="email"]{
	width: 160px;
	height: 40px;
	color: white;
	background-color: #333;
	border: 1px solid white;
	padding-left: 10px;
	float: left;
	
}
#go{
	width: 40px;
	height: 40px;
	background: url('../images/arrow.png') center no-repeat;
	border: 1px solid white;
	border-left: none;
	float: left;
}