@charset "utf-8";

/***********************************************
 *
 *   功能：首页内容详细设置
 *   开发者：杨志欣
 *   最后修改日期：2017-09-07
 *
************************************************/


/**********************
 *  轮播样式设置
**********************/

.main-content>.banner {
    position: relative;
    width: 100%;
    height: 500px;
}

.main-content>.banner>.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.main-content>.banner>.slider:nth-child(1) {
    background-image: url('../images/index/home-banner-1.png');
    opacity: 1;
}

.main-content>.banner>.slider:nth-child(2) {
    background-image: url('../images/index/home-banner-2.png');
}

.main-content>.banner>.slider:nth-child(3) {
    background-image: url('../images/index/home-banner-3.png');
}

.main-content>.banner>.slider:nth-child(4) {
    background-image: url('../images/index/home-banner-4.png');
}


/*轮播文字设置*/

.main-content>.banner>.slider>div {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-content>.banner>.slider>.sliderTextBox>p {
    width: 100%;
    text-align: center;
    position: relative;
    transition: all 1s .3s;
    opacity: 0;
}


/*banner1样式*/

.main-content>.banner>.slider:nth-child(1)>div {
    width: 696px;
    height: 176px;
    background: url('../images/index/home-banner-content-1.png') center/cover no-repeat;
}

.main-content>.banner>.slider:nth-child(1)>div>.sliderTopText {
    font-size: 0.875em;
    color: #fff;
    top: -20px;
    opacity: 0;
}

.main-content>.banner>.slider:nth-child(1)>div>.sliderCenterText {
    font-size: 4em;
    color: #fff;
    line-height: 135px;
    left: 30px;
    opacity: 0;
}

.main-content>.banner>.slider:nth-child(1)>div>.sliderBottomText {
    font-size: 1.375em;
    color: #3c9ce6;
    top: 30px;
    opacity: 0;
}


/*banner2样式*/

.main-content>.banner>.slider:nth-child(2)>div {
    width: 1000px;
    height: 210px;
}

.main-content>.banner>.slider:nth-child(2)>div>.sliderTopText {
    font-size: 2.625em;
    color: #fff;
    top: -20px;
    line-height: 100px;
}

.main-content>.banner>.slider:nth-child(2)>div>.sliderCenterText {
    border-bottom: 1px solid #3c9ce6;
}

.main-content>.banner>.slider:nth-child(2)>div>.sliderBottomText {
    font-size: 3.5em;
    color: #3c9ce6;
    top: 30px;
    line-height: 100px;
}


/*banner3样式*/

.main-content>.banner>.slider:nth-child(3)>div {
    width: 1000px;
    height: 210px;
}

.main-content>.banner>.slider:nth-child(3)>div>.sliderTopText {
    font-size: 2.625em;
    color: #fff;
    top: -20px;
    line-height: 80px;
}

.main-content>.banner>.slider:nth-child(3)>div>.sliderCenterText {
    font-size: 3.5em;
    color: #3c9ce6;
    left: 30px;
    line-height: 80px;
}

.main-content>.banner>.slider:nth-child(3)>div>.sliderBottomText {
    border-bottom: 1px solid #3c9ce6;
}


/*banner4样式*/

.main-content>.banner>.slider:nth-child(4)>div {
    width: 1000px;
    height: 210px;
}

.main-content>.banner>.slider:nth-child(4)>div>.sliderTopText {
    font-size: 2.625em;
    color: #fff;
    top: -20px;
    line-height: 100px;
}

.main-content>.banner>.slider:nth-child(4)>div>.sliderCenterText {
    border-bottom: 1px solid #3c9ce6;
}

.main-content>.banner>.slider:nth-child(4)>div>.sliderBottomText {
    font-size: 3.5em;
    color: #3c9ce6;
    top: 30px;
    line-height: 100px;
}


/*文字动画*/

.main-content>.banner>.slider>.sliderTextBox.move>p {
    opacity: 1;
}

.main-content>.banner>.slider>.sliderTextBox.move>.sliderTopText {
    top: 0;
}

.main-content>.banner>.slider>.sliderTextBox.move>.sliderCenterText {
    left: 0;
}

.main-content>.banner>.slider>.sliderTextBox.move>.sliderBottomText {
    top: 10px;
}


/**********************
 *  “我的服务”模块样式
**********************/

.main-content>.myService {
    width: 100%;
    border-top: 1px solid #f6f6f6;
    padding-bottom: 80px;
    background-color: #f6f6f6;
}


/*标题设置*/

.main-content>section>h2 {
    color: #303030;
    font-size: 1.75em;
    margin: 70px 0 66px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}


/*"服务"选项样式*/

.main-content>.myService>.myServiceBox {
    width: 90%;
    margin: 0 auto;
    font-size: 0;
}

.main-content>.myService>.myServiceBox>li {
    display: inline-block;
    width: 20%;
}

.main-content>.myService>.myServiceBox>li>a {
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.main-content>.myService>.myServiceBox>li>a:hover>span {
    background-color: #338ed3;
    box-shadow: 0 0 0 3px #338ed3;
}

.main-content>.myService>.myServiceBox>li>a:hover>p {
    color: #338ed3;
}

.main-content>.myService>.myServiceBox>li>a>span {
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50%;
    padding: 4px;
    border: 3px solid #f6f6f6;
    background-color: #ebecf0;
    box-shadow: 0 0 0 3px #dedede;
    position: relative;
}

.main-content>.myService>.myServiceBox>li>a>span>i {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 53px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -26px;
    font-style: normal;
}

.main-content>.myService>.myServiceBox>li:nth-child(1)>a>span>i {
    background: url('../images/index/icon-service-1.png') 0 0 no-repeat;
}

.main-content>.myService>.myServiceBox>li:nth-child(1):hover>a>span>i {
    background: url('../images/index/icon-service-1-hover.png') 0 0 no-repeat;
    transform: translateY(-20px);
    animation: serviceIcon .4s forwards;
}

.main-content>.myService>.myServiceBox>li:nth-child(2)>a>span>i {
    background: url('../images/index/icon-service-2.png') 0 0 no-repeat;
}

.main-content>.myService>.myServiceBox>li:nth-child(2):hover>a>span>i {
    background: url('../images/index/icon-service-2-hover.png') 0 0 no-repeat;
    transform: translateY(-20px);
    animation: serviceIcon .4s forwards;
}

.main-content>.myService>.myServiceBox>li:nth-child(3)>a>span>i {
    background: url('../images/index/icon-service-3.png') 0 0 no-repeat;
}

.main-content>.myService>.myServiceBox>li:nth-child(3):hover>a>span>i {
    background: url('../images/index/icon-service-3-hover.png') 0 0 no-repeat;
    transform: translateY(-20px);
    animation: serviceIcon .4s forwards;
}

.main-content>.myService>.myServiceBox>li:nth-child(4)>a>span>i {
    background: url('../images/index/icon-service-4.png') 0 0 no-repeat;
}

.main-content>.myService>.myServiceBox>li:nth-child(4):hover>a>span>i {
    background: url('../images/index/icon-service-4-hover.png') 0 0 no-repeat;
    transform: translateY(-20px);
    animation: serviceIcon .4s forwards;
}

.main-content>.myService>.myServiceBox>li:nth-child(5)>a>span>i {
    background: url('../images/index/icon-service-5.png') 0 0 no-repeat;
}

.main-content>.myService>.myServiceBox>li:nth-child(5):hover>a>span>i {
    background: url('../images/index/icon-service-5-hover.png') 0 0 no-repeat;
    transform: translateY(-20px);
    animation: serviceIcon .4s forwards;
}

.main-content>.myService>.myServiceBox>li>a>p {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 45px;
    font-size: 1.125em;
    color: #303030;
}


/*"服务"动画设置*/

@keyframes serviceIcon {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/**********************
 *  “方案案例”模块样式
**********************/

.main-content>.mainSolution {
    width: 100%;
    border-top: 1px solid #fff;
    padding-bottom: 80px;
}

.main-content>.mainSolution>.mainSolutionBox {
    width: 90%;
    margin: 0 auto;
    font-size: 0;
}

.main-content>.mainSolution>.mainSolutionBox>li {
    display: inline-block;
    width: 33.33333333%;
}

.main-content>.mainSolution>.mainSolutionBox>li>a {
    display: block;
    width: 100%;
    font-size: 16px;
    position: relative;
}

.main-content>.mainSolution>.mainSolutionBox>li>a>img {
    display: block;
    width: 100%;
}


/*遮罩样式*/

.main-content>.mainSolution>.mainSolutionBox>li>a>.solutionMask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(54, 61, 66, .91);
    color: #fff;
    font-size: 1.75em;
    opacity: 0;
    transition: opacity 0.3s;
}

.main-content>.mainSolution>.mainSolutionBox>li:last-child>a>.solutionMask {
    opacity: 1;
}

.main-content>.mainSolution>.mainSolutionBox>li>a>.solutionMask>p {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    line-height: 60px;
    text-align: center;
}

.main-content>.mainSolution>.mainSolutionBox>li>a>.solutionMask>p:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -30px;
    content: "";
    display: inline-block;
    width: 60px;
    background-color: #fff;
    height: 2px;
}

.main-content>.mainSolution>.mainSolutionBox>li>a:hover>.solutionMask {
    opacity: 1;
}


/*“更多方案”设置*/

.main-content>.mainSolution>.mainSolutionBox>li:last-child>a>.solutionMask {
    background-color: #3c9de5;
    color: #1b7cc6;
    transition: background-color .3s;
}

.main-content>.mainSolution>.mainSolutionBox>li:last-child>a:hover>.solutionMask {
    color: #fff;
}

.main-content>.mainSolution>.mainSolutionBox>li:last-child>a>.solutionMask>p:before {
    display: block;
    content: "";
    width: 99px;
    height: 66px;
    margin: 0 auto;
    background: url('../images/index/home-case-6.png') 0 0 no-repeat;
    opacity: 0.6;
}

.main-content>.mainSolution>.mainSolutionBox>li:last-child>a:hover>.solutionMask>p:before {
    background: url('../images/index/home-case-6-hover.png')0 0 no-repeat;
    opacity: 1;
}

.main-content>.mainSolution>.mainSolutionBox>li:last-child>a>.solutionMask>p:after {
    display: none;
}


/**********************
 *  “产品体系”模块样式
**********************/

.main-content>.product {
    width: 100%;
    border-top: 1px solid #f6f6f6;
    padding-bottom: 80px;
    background-color: #f6f6f6;
}

.main-content>.product>.productBox {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #d3d9de;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
}

.main-content>.product>.productBox>li {
    display: inline-block;
    width: 20%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    border-right: 1px solid #d3d9de;
    border-top: 1px solid #ebebec;
    border-bottom: 1px solid #d3d9de;
    transition: width 0.8s;
}

.main-content>.product>.productBox>li:last-child {
    border-right: none;
}

.main-content>.product>.productBox>li>.productItemTop {
    padding-top: 20px;
    background-color: #ebebec;
    padding-bottom: 10px;
}

.main-content>.product>.productBox>li:hover {
    border: 1px solid #3c9de5;
}

.main-content>.product>.productBox>li:hover>.productItemTop {
    background-color: #3c9de5;
}

.main-content>.product>.productBox>li:hover>.productItemTop>p {
    color: #fff;
}


/*字体设置*/

.main-content>.product>.productBox>li p {
    line-height: 40px;
    font-weight: 500;
    color: #303038;
    font-size: 1em;
}

.main-content>.product>.productBox>li>.productItemTop>p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main-content>.product>.productBox>li>.productItemTop>p:last-child {
    line-height: 20px;
    font-size: .875em;
    color: #757575;
}


/*图标设置*/

.main-content>.product>.productBox>li>.productItemTop:before {
    display: block;
}

.main-content>.product>.productBox>li:nth-child(1)>.productItemTop:before {
    content: url('../images/index/home-product-1.png');
}

.main-content>.product>.productBox>li:nth-child(1):hover>.productItemTop:before {
    content: url('../images/index/home-product-1-hover.png');
}

.main-content>.product>.productBox>li:nth-child(2)>.productItemTop:before {
    content: url('../images/index/home-product-2.png');
}

.main-content>.product>.productBox>li:nth-child(2):hover>.productItemTop:before {
    content: url('../images/index/home-product-2-hover.png');
}

.main-content>.product>.productBox>li:nth-child(3)>.productItemTop:before {
    content: url('../images/index/home-product-3.png');
}

.main-content>.product>.productBox>li:nth-child(3):hover>.productItemTop:before {
    content: url('../images/index/home-product-3-hover.png');
}

.main-content>.product>.productBox>li:nth-child(4)>.productItemTop:before {
    content: url('../images/index/home-product-4.png');
}

.main-content>.product>.productBox>li:nth-child(4):hover>.productItemTop:before {
    content: url('../images/index/home-product-4-hover.png');
}

.main-content>.product>.productBox>li:nth-child(5)>.productItemTop:before {
    content: url('../images/index/home-product-5.png');
}

.main-content>.product>.productBox>li:nth-child(5):hover>.productItemTop:before {
    content: url('../images/index/home-product-5-hover.png');
}


/*产品罗列.productItemBottom样式设置*/

.main-content>.product>.productBox>li>.productItemBottom {
    width: 100%;
    height: 225px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.main-content>.product>.productBox>li>.productItemBottom>div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-content>.product>.productBox>li>.productItemBottom>div>p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/**********************
 *  “关于我们”模块样式
**********************/

.main-content>.mainAbout {
    width: 100%;
    border-top: 1px solid #fff;
    padding-bottom: 80px;
}

.main-content>.mainAbout>h2 {
    margin-bottom: 0;
}

.main-content>.mainAbout>p {
    width: 90%;
    margin: 0 auto;
    margin-top: 34px;
    letter-spacing: 2px;
    line-height: 38px;
    font-size: 1em;
    color: #7b7b7b;
}


/**********************
 *  “联系我们”模块样式
**********************/

.main-content>.mainContact {
    width: 100%;
    border-top: 1px solid #f6f6f6;
    padding-bottom: 80px;
    background-color: #f6f6f6;
}

.main-content>.mainContact>h2 {
    margin-bottom: 60px;
}

.main-content>.mainContact>ul {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}

.main-content>.mainContact>ul>li {
    display: inline-block;
    width: 33.33333333%;
    min-width: 390px;
    text-align: center;
    font-size: 16px;
}


/*各个详细地址信息样式*/

.main-content>.mainContact>ul>li>.mainAddress {
    display: inline-block;
    margin: 0 5px 20px;
    width: 380px;
    height: 216px;
    border: 1px solid #d3d9de;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    cursor: pointer;
    vertical-align: top;
}

.main-content>.mainContact>ul>li>.mainAddress:hover {
    box-shadow: 0 0 20px rgba(60, 157, 229, 0.5);
}

.main-content>.mainContact>ul>li>.mainAddress>p {
    font-size: 1.25em;
    text-align: left;
    color: #3c9de5;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 10px;
}

.main-content>.mainContact>ul>li>.mainAddress>div>p {
    position: relative;
    width: 100%;
    height: 25%;
    color: #303038;
    font-size: 0.875em;
    letter-spacing: 1px;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.main-content>.mainContact>ul>li:nth-child(1)>.mainAddress>div>p {
    height: 33.33333333%;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
}

.main-content>.mainContact>ul>li>.mainAddress>div>p:before {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-content>.mainContact>ul>li>.mainAddress>div>p:nth-child(1):before {
    top: 16px;
    content: url('../images/index/icon-location.png');
}

.main-content>.mainContact>ul>li>.mainAddress>div>p:nth-child(2):before {
    content: url('../images/index/icon-phone.png');
}

.main-content>.mainContact>ul>li:nth-child(1)>.mainAddress>div>p:nth-child(3):before {
    content: url('../images/index/icon-email.png');
}

.main-content>.mainContact>ul>li>.mainAddress>div>p {
    padding-left: 40px;
    text-align: left;
}


/*选中状态*/

.main-content>.mainContact>ul>li>.mainAddress.selected {
    border-bottom: 4px solid #3c9de5;
}


/*地图样式设置*/

.mainContact>.mapBox {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    transition: height .5s;
}

.mainContact>.mapBox>#map {
    width: 100%;
    height: 400px;
}


/*地图遮罩设置*/

.mainContact>.mapBox>.mapMask {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mainContact>.mapBox>.mapMask>.mapMaskTop {
    width: 100%;
    height: 100px;
    background-color: rgba(246, 246, 246, 0.5);
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}

.mainContact>.mapBox>.mapMask>.mapMaskBottom {
    width: 100%;
    height: 50px;
    background-color: #f6f6f6;
}

.mainContact>.mapBox>.mapMask>.mapMaskTop>.mapSwitch {
    display: inline-block;
    user-select: none;
    position: relative;
}

.mainContact>.mapBox>.mapMask>.mapMaskTop>.mapSwitch>span:first-child {
    display: block;
    width: 30px;
    height: 16px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -15px;
    background: url('../images/index/icon-down-expand.png') 0 0 no-repeat;
}

.mainContact>.mapBox>.mapMask>.mapMaskTop>.mapSwitch>span:last-child {
    display: none;
    width: 30px;
    height: 16px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -15px;
    background: url('../images/index/icon-up-pack.png') 0 0 no-repeat;
}

.mainContact>.mapBox>.mapMask>.mapMaskTop>.mapSwitch>.mapSwitchText {
    color: #666;
    letter-spacing: 2px;
    font-size: .875em;
}

.BMap_bubble_content {
    font-size: 14px;
}
