@charset "utf-8";
/*****
******功能：公共样式表
******开发者：***
******日前：
******
***/
/*标签样式初始化*/

body,p,ul,h1,h2,h3,h4{
	margin:0;
	padding:0;
	list-style: none;
}
header,footer,section,article,nav,aside{
	display: block;
}
a{
	color:#333;
	text-decoration:none;
}
html,body{
	font:16px "微软雅黑";
}
input,button{
	outline: none;
}
/*1.清除浮动*/
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	height: 0;
	visibility: hidden;
	clear:both;
}

/*轮播列表*/
section{
	background-color: #efefef;
}
.box{
	width:880px;
	margin: 20px auto;
	height: 430px;
	overflow: hidden;
	position: relative;
}
.imgList{
	/*后期动态获取设置*/
	width:2000px;
	height: 430px;
	overflow: hidden;
}
.imgList>li{
	float: left;
}
.other{
	width:100%;
	height: 46px;
	position: absolute;
	left:0;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
}
.other>p{
	color:#fff;
	line-height: 46px;
	width:700px;
	position: absolute;
	left:55px;
	top:0;

}
/*btn*/
#prev,#next{
	width:48px;
	height: 46px;
	display: inline-block;
	/*position: absolute;*/
}
#prev{
	background: url('img/arrow-2.png') no-repeat;
}

#next{
	background: url('img/arrow-1.png') no-repeat;
	position: absolute;
	right:0;
	bottom: 0;
}
#prev:hover,#next:hover{
	background-color: #01A1ED;
}

/*item*/
.item{
	position: absolute;
	right:65px;
	top:19px;
}
.item>li{
	width:10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	float: left;
	margin-left: 15px;
	/*transform:scale(1);*/
	/*transition:transform 0.2s;*/
}
.item>li:hover{
	cursor: pointer;
	background-color: #01A1ED;
	/*transform:scale(1.6);*/
	box-shadow: 0 0 2px 3px #01A1ED;
}

